<div class="tw-component-container w-[90%] max-sm:w-[95%]">
  <guestbook-main-component
    [visibleEntriesCount]="visibleEntriesCount"
    [hiddenEntriesCount]="hiddenEntriesCount"
  ></guestbook-main-component>

  <guestbook-entry-component
    *ngFor="let guestBookEntry of paginatedEntries"
    [entry]="guestBookEntry"
    [isLoading]="isLoading"
  ></guestbook-entry-component>

  <div *ngIf="!isLoading">
    <div
      *ngIf="((permissionService.hasPermission('view-invisible-guestbook-entries') | async) && hiddenEntriesCount == 0 && visibleEntriesCount == 0) || (!(permissionService.hasPermission('view-invisible-guestbook-entries') | async) && visibleEntriesCount == 0)">
      <no-entries-component></no-entries-component>
    </div>
  </div>

  <guestbook-page-component
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    (pageChange)="changePage($event)"
    (pageNext)="nextPage()"
    (pagePrevious)="previousPage()"
  ></guestbook-page-component>
</div>

