<div class="main-component-container main-guestbook-container">
  <div class="guestbook-container-1">
    <guestbook-main-component
      [visibleEntriesCount]="visibleEntriesCount"
      [hiddenEntriesCount]="hiddenEntriesCount"
    ></guestbook-main-component>

    <guestbook-entry-component
      *ngFor="let guestBookEntry of filteredGuestBookEntries"
      [entry]="guestBookEntry"
    ></guestbook-entry-component>

<!--    TODO-->
    <div *ngIf="visibleEntriesCount == 0">
      <no-entries-component></no-entries-component>
    </div>

    <guestbook-page-component></guestbook-page-component>
  </div>
</div>

