<div class="w-full flex justify-center">
  <div
    *ngIf="entry.is_visible || !entry.is_visible && (permissionService.hasPermission('view-invisible-guestbook-entries') | async)"
    class="w-full p-6 bg-white dark:bg-dark-mode-inside shadow-md rounded-lg mb-6 border border-gray-200 dark:border-gray-600 transition duration-500 ease-in-out hover:scale-101 animate-fade-in"
    [class.dark:opacity-90]="!entry.is_visible"
    [class.opacity-50]="!entry.is_visible"
    [ngClass]="{'animate-pulse blur-sm' : isLoading}"
  >
    <div class="flex justify-between flex-row max-sm:flex-col">
      <div class="w-full">
        <div class="flex justify-between items-center">
          <div class="flex flex-col">
            <span [ngClass]="{'animate-fadeInDown' : !isLoading}"
                  class="text-lg font-semibold text-gray-800 dark:text-title-dark-mode-text">{{ entry.title }}</span>
            <span class="text-sm text-gray-500 dark:text-dark-mode-text">
          <span class="font-medium">{{ entry.username }}</span>  {{
                'GUESTBOOK.ENTRY_SUBTITLE' | translate: {
                  date: creationDate,
                }
              }}
          </span>
            <span *ngIf="entry.edited && !entry.silent_edit"
                  [title]="'GUESTBOOK.ENTRY_EDITED_TIME' | translate: {date: editDate}"
                  class="text-xs text-gray-400 italic">
            {{ 'GUESTBOOK.ENTRY_EDITED' | translate }}</span>
            <span *ngIf="!entry.is_visible" class="text-sm text-red-500 font-semibold animate-fadeInSlow">
            {{ "GUESTBOOK.ENTRY_IS_INVISIBLE_HINT" | translate }}
          </span>
          </div>
        </div>
      </div>

      <!-- Admin actions (Edit, Delete, etc.) -->
      <div *ngIf="!isLoading && (permissionService.hasPermission('manage-guestbook-entry') | async)"
           class="flex space-x-6 max-sm:space-x-10 animate-fadeInLeft max-sm:justify-center max-sm:mt-3">
        <fa-icon (click)="toggleEntryVisibility()" class="tw-icon"
                 [icon]="entry.is_visible ? faEyeSlash : faEye"
                 [title]="'GUESTBOOK.CHANGE_VISIBILITY_ENTRY_DESC' | translate"></fa-icon>
        <fa-icon (click)="addComment()" class="tw-icon" [icon]="faComment"
                 [title]="'GUESTBOOK.COMMENT_ENTRY_DESC' | translate"></fa-icon>
        <fa-icon (click)="editEntry()" class="tw-icon" [icon]="faGear"
                 [title]="'GUESTBOOK.EDIT_ENTRY_DESC' | translate"></fa-icon>
        <fa-icon (click)="deleteEntry()" class="tw-icon" [icon]="faTrashCan"
                 [title]="'GUESTBOOK.DELETE_ENTRY_DESC' | translate"></fa-icon>
      </div>
    </div>

    <div class="mt-4">
      <div class="text-base text-gray-700 dark:text-dark-mode-text animate-fadeInRight"
           [innerHTML]="sanitizeHtml(entry.entry_message)"></div>
    </div>

    <!-- Admin comment section -->
    <div *ngIf="entry.comment"
         class="mt-4 p-4 bg-gray-50 dark:bg-dark-mode-inside-hover border-t border-gray-200 dark:border-gray-700 rounded-lg flex justify-between items-center animate-fadeInUp">
      <div class="text-sm text-gray-600">
        <span class="font-semibold dark:text-title-dark-mode-text">{{ "GUESTBOOK.COMMENT_TITLE" | translate }}</span>
        <span class="dark:text-dark-mode-text">{{ entry.comment }}</span>
      </div>

      <div *ngIf="!isLoading && (permissionService.hasPermission('delete-guestbook-comment') | async)" class="ml-4">
        <fa-icon (click)="deleteComment()" class="tw-icon" [icon]="faTrashCan"
                 [title]="'GUESTBOOK.DELETE_COMMENT_DESC' | translate"></fa-icon>
      </div>
    </div>
  </div>
</div>
