<nav
  class="lg:flex-1 lg:flex lg:items-center lg:flex-row lg:justify-start max-lg:flex max-lg:items-start max-lg:self-start max-lg:flex-col">
  <ng-container *ngFor="let link of config.NAVBAR_LINKS">
    <a *ngIf="!link.permission || (permissionService.hasPermission(link.permission) | async)"
       class="text-black dark:text-title-dark-mode-text hover:text-blue-500 lg:ml-6 text-center transition-all duration-300 decoration-0 font-medium max-lg:mb-3"
       [routerLink]="link.path">
      {{ link.label | translate }}
    </a>
  </ng-container>

  <div *ngIf="hasAccessToServices$ | async" class="relative inline-block text-left select-none ml-6 max-lg:ml-0">
    <!-- Dropdown Toggle Button -->
    <button (click)="toggleDropdown()"
            class="btn-primary btn-blue">
      {{ 'NAVBAR.SERVICES_BUTTON' | translate }}
      <fa-icon [icon]="faAngleDown" class="text-[16px] font-bold -mr-1 ml-2"></fa-icon>
    </button>

    <!-- Dropdown Menu -->
    <div *ngIf="dropdownOpen"
         class="tw-dropdown-inner-layout">
      <ng-container *ngFor="let link of config.SERVICE_LINKS">
        <a *ngIf="!link.permission || (permissionService.hasPermission(link.permission) | async)"
           class="tw-dropdown-inner-action-layout whitespace-nowrap"
           [routerLink]="link.path">
          {{ link.label | translate }}
        </a>
      </ng-container>
    </div>
  </div>
</nav>
