:host {
  display: contents;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-guestbook-entry-container {
  border: 1px solid red;
}

.entry-container {
  border: 1px solid green;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  box-shadow: 0 3px 2px -2px gray;
  align-items: center;
  flex-direction: column;
}
