:host {
  display: contents;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-guestbook-entry-container {
  border: 1px solid red;
  height: auto;
}

.guestbook-entry-container {
  border: 1px solid green;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0 3px 2px -2px gray;
  align-items: flex-start;
  flex-direction: column;
  padding: var(--dl-space-space-halfunit);
}

.guestbook-container-1 {
  border: 1px solid rebeccapurple;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: var(--dl-space-space-unit);
  flex: 0 0 auto;
  align-items: flex-start;
  height: auto;
}

.guestbook-container-1-sub-1-container {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}

.container-full-width {
  width: 100%;
}

.container-partial-width {
  width: 75%;
}

.guestbook-container-1-sub-1 {
  width: 100%;
}

.guestbook-container-1-sub-1-hidden-hint {
  width: 100%;
  font-weight: 500;
  font-style: italic;
  color: var(--hint-color)
}

.guestbook-container-1-sub-2-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.guestbook-container-1-sub-2 {
  width: 100%;
}

.guestbook-container-1-sub-2-status {
  border: 1px solid red;
  width: 100%;
  align-self: center;
}

.guestbook-main-text {
  border: 1px solid darkred;
  width: 100%;
}

.guestbook-admin-text-container {
  border: 1px solid blue;
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}

.guestbook-admin-text-title {
  font-weight: 550;
}

.guestbook-admin-text {
  font-style: italic;
}

.guestbook-entry-icons-container {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guestbook-admin-icons {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}

.username-style {
  font-weight: 500;
}

@media (max-width: 767px) {
  .guestbook-container-1 {
    flex-direction: column;
  }

  .guestbook-container-1-sub-1-container {
    width: 100%;
    text-align: center;
  }

  .guestbook-container-1-sub-2-container {
    flex-direction: row;
    width: 100%;
  }

  .guestbook-container-1-sub-2 {
    width: 50%;
    text-align: right;
  }

  .guestbook-container-1-sub-2-status {
    width: 50%;
  }

  .guestbook-admin-icons {
    width: 24px;
    height: 24px;
  }

  * {
    /*background-color: #0c6f0b;*/
  }
}

@media (max-width: 479px) {
  * {
    /*background-color: #1f75cb;*/
  }

  .guestbook-container-1-sub-2 {
    width: 100%;
  }

  .guestbook-container-1-sub-2-status {
    width: 100%;
    text-align: left;
  }

  .guestbook-container-1-sub-2-container {
    flex-direction: column;
    align-items: center;
  }

  .guestbook-admin-icons {
    width: 20px;
    height: 20px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}

