<div class="main-component-container main-guestbook-entry-container">
  <div class="guestbook-entry-container">
    <div class="guestbook-container-1">
      <div class="guestbook-container-1-sub-1-container">
        <div class="guestbook-container-1-sub-1">
          %s schrieb am %s (%s%s:%s%s Uhr)
        </div>
        <div class="guestbook-container-1-sub-1-hidden-hint">
          Hinweis: Dieser Beitrag ist derzeit unsichtbar!
        </div>
      </div>
      <div class="guestbook-container-1-sub-2-container">
        <div class="guestbook-container-1-sub-2-status">
          Status: %s
        </div>
        <div class="guestbook-container-1-sub-2">
          Icons
        </div>
      </div>
      </div>

    <span class="guestbook-main-text">
      Hier steht der Text
    </span>

    <div class="guestbook-admin-text-container">
    <span class="guestbook-admin-text-title">
      Kommentar:
    </span>
      <span class="guestbook-admin-text">
      HIER STEHT TEXT
    </span>
    </div>

  </div>
</div>
