<div class="w-full flex flex-col bg-white dark:bg-dark-mode mt-6 p-6">
  <div class="w-full flex flex-row">
    <div class="w-[40%] flex justify-start items-start pl-20 max-lg:pl-10 max-md:hidden">
      <div class="flex items-center justify-center">
        <div
          class="w-24 h-24 rounded-full bg-gradient-to-r from-pink-400 via-red-500 to-orange-400 blur-2xl absolute"></div>
        <img
          [attr.alt]=""
          [attr.src]="config.LANDING_PAGE_LOGO_IMAGE_SRC"
          class="relative w-28 h-28 rounded-full object-cover max-sm:mb-4"
        />
      </div>
    </div>
    <div class="text-black w-[60%] max-md:w-full font-semibold text-[33px] dark:text-title-dark-mode-text">
      {{'MAINPAGE.KEYWORDS_TEXT' | translate}}
      <span class="relative">
        <span [ngClass]="currentColor">{{ displayText }}</span>
        <span class="bg-black inline-block w-[1px] h-[1.2em] ml-1 align-middle animate-blink"></span>
      </span>
    </div>
  </div>
</div>


<!--<div class="mt-16 space-y-4">
  <a href="/guestbook"
     class="text-lg md:text-xl font-semibold text-blue-400 underline hover:text-teal-400 transition-all duration-300 animate-fadeInUp delay-700">
    Check out my Guestbook &rarr;
  </a>
</div>

&lt;!&ndash; Skills Section &ndash;&gt;
<div class="mt-20 grid grid-cols-1 md:grid-cols-3 gap-8 animate-fadeInSlow delay-1000">
  <div class="p-6 bg-gray-800 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
    <h3 class="text-xl font-semibold text-teal-400">Web Development</h3>
    <p>AngularJS, TypeScript, TailwindCSS</p>
  </div>
  <div class="p-6 bg-gray-800 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
    <h3 class="text-xl font-semibold text-teal-400">Backend Development</h3>
    <p>Java, Spring Boot, Microservices</p>
  </div>
  <div class="p-6 bg-gray-800 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
    <h3 class="text-xl font-semibold text-teal-400">DevOps</h3>
    <p>Docker, Kubernetes, CI/CD</p>
  </div>
</div>-->
