:host {
  display: contents;
}

.main-footer-container {
  /*border: 1px solid red;*/
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: auto;
  align-items: center;
  padding: var(--dl-space-space-twounits) var(--dl-space-space-threeunits) var(--dl-space-space-unit) var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.footer-logo-container {
  /*border: 1px solid green;*/
  display: contents;
}

.footer-logo {
  /*border: 1px solid springgreen;*/
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}

.footer-content-container {
  /*border: 1px solid blue;*/
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.footer-content-container-sub {
  /*border: 1px solid orange;*/
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}

.footer-content {
  text-decoration: none;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}

.footer-content:hover{
  color: var(--dl-color-gray-500);
}

.footer-content-nav1 {
  /*border: 1px solid orangered;*/
  padding-right: var(--dl-space-space-twounits);
}

.footer-content-nav2 {
  /*border: 1px solid rebeccapurple;*/
  padding-left: var(--dl-space-space-twounits);
}

.footer-copyright-container {
  /*border: 1px solid pink;*/
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.footer-copyright-text {
  height: auto;
  align-self: stretch;
  text-align: center;
}

.footer-icon-group {
  /*border: 1px solid deeppink;*/
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
}

.footer-icon-last {
  width: 30px;
  height: 30px;
}


@media (max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }

  .footer-icon {
    margin-right: var(--dl-space-space-unit);
  }
}

@media (max-width: 479px) {
  .main-footer-container {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: var(--dl-space-space-unit);
  }

  .footer-copyright-text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .footer-icon {
    margin-right: var(--dl-space-space-twounits);
  }
}
