<footer
  class="w-full rounded-lg flex max-w-[1400px] mt-auto items-center pt-8 px-12 pb-8 justify-between relative max-sm:p-4 max-sm:flex-col animate-fadeInDown dark:bg-dark-mode-inside">

  <a class="contents" routerLink="/">
    <img
      [attr.alt]=""
      [attr.src]="config.FOOTER_LOGO_IMAGE_SRC"
      class="h-8 object-cover max-sm:mb-4"
    />
  </a>
  <!--TODO evaluieren-->
  <div class="lg:absolute lg:left-1/2 lg:transform lg:-translate-x-1/2 flex max-lg:self-center flex-col items-center">
    <div class="w-full flex items-center pb-2 justify-center font-medium  space-x-16">
      <a class="transition-all duration-300 dark:text-dark-mode-text dark:hover:text-dark-mode-text-hover" routerLink="/imprint">
        {{ 'FOOTER.IMPRINT' | translate }}
      </a>
      <a class="transition-all duration-300 dark:text-dark-mode-text dark:hover:text-dark-mode-text-hover" routerLink="/data-privacy">
        {{ 'FOOTER.DATA_PRIVACY' | translate }}
      </a>
    </div>
    <div class="flex self-stretch items-start flex-col">
      <span class="self-stretch text-center max-sm:mb-4 dark:text-dark-mode-text">
        {{ 'FOOTER.COPYRIGHT_INFORMATION' | translate: {currentYear: currentYear} }}
        <a class="text-gray-600 transition-all duration-200 hover:text-blue-500 dark:text-dark-mode-text-hover"
           routerLink="/changelog">{{ 'FOOTER.VERSION' | translate: {version: build.version} }}</a>
      </span>
    </div>
  </div>

  <div class="flex items-center flex-row justify-between">
    <a class="mr-8 max-md:mr-4 max-sm:mr-8" [href]="config.FOOTER_YOUTUBE_LINK" rel="noopener noreferrer" target="_blank">
      <fa-icon class="tw-icon text-3xl" [icon]="faYoutube" [title]="'FOOTER.YOUTUBE'"></fa-icon>
    </a>
    <a class="mr-8 max-md:mr-4 max-sm:mr-8" [href]="config.FOOTER_INSTAGRAM_LINK" rel="noopener noreferrer" target="_blank">
      <fa-icon class="tw-icon text-3xl" [icon]="faInstagram" [title]="'FOOTER.INSTAGRAM'"></fa-icon>
    </a>
    <a [href]="config.FOOTER_LINKEDIN_LINK" rel="noopener noreferrer" target="_blank">
    <fa-icon class="tw-icon text-3xl" [icon]="faLinkedin" [title]="'FOOTER.LINKEDIN'"></fa-icon>
    </a>
  </div>
</footer>
