<div class="flex items-center justify-center">
  <div
    class="flex justify-start flex-col items-center relative rounded-lg w-[450px] max-sm:w-11/12 h-auto px-4 bg-white dark:bg-gray-700">
    <login-register-image-component class="w-full mt-4 mb-8"></login-register-image-component>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="flex flex-col items-center w-full h-full mb-3">
      <div class="w-full mb-6">
        <label for="username-email"
               class="tw-input-label">{{ 'LOGIN.USERNAME_OR_EMAIL_LABEL' | translate }}</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faEnvelope"></fa-icon>
          </div>
          <input
            class="tw-input"
            id="username-email"
            [ngClass]="{'tw-input-error': isControlInvalid(this.loginForm, 'usernameOrEmail')}"
            [placeholder]="'LOGIN.USERNAME_OR_EMAIL_PLACEHOLDER' | translate"
            formControlName="usernameOrEmail"
            autocomplete="username"
            type="text">
        </div>
        <div class="relative">
          <div
            [ngClass]="{
            'opacity-100 visible': isControlInvalid(loginForm, 'usernameOrEmail'),
            'opacity-0 invisible': !isControlInvalid(loginForm, 'usernameOrEmail')
          }"
            class="tw-input-error-label"
          >
            <div *ngIf="loginForm.get('usernameOrEmail')?.hasError('required')">
              {{ "LOGIN.ERRORS.REQUIRED_FIELD" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-2">
        <label for="password" class="tw-input-label">
          {{ 'LOGIN.PASSWORD_LABEL' | translate }}
        </label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faLock"></fa-icon>
          </div>
          <input
            [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
            class="tw-input"
            id="password"
            [ngClass]="{'tw-input-error': isControlInvalid(this.loginForm, 'password')}"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            autocomplete="password"
          >

          <button
            type="button"
            (click)="togglePasswordVisibility($event)"
            class="absolute inset-y-0 end-0 flex items-center pe-3 text-gray-500 dark:text-gray-400">
            <fa-icon class="tw-icon text-gray-500" [icon]="hidePassword ? faEyeSlash : faEye"
                     [title]="'LOGIN.SHOW_PASSWORD_HINT' | translate"></fa-icon>
          </button>
        </div>
        <div>
          <!--               TODO Class-->
          <div *ngIf="isControlInvalid(loginForm, 'password')"
               class="ml-3 mt-0.5 text-red-500 text-xs transition-opacity duration-300">
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              {{ "LOGIN.ERRORS.REQUIRED_FIELD" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row w-full mb-6 justify-end">
          <a
            class="text-end  text-base text-link-style max-sm:text-center"
            routerLink="/reset-password">
            {{ 'LOGIN.FORGOT_PASSWORD_LINK_TEXT' | translate }}
          </a>
      </div>

      <div class="w-full mb-2">
        <button [disabled]="isLoading" class="w-full btn-primary btn-blue" type="submit">
          <div class="flex items-center justify-center">
            <div *ngIf="isLoading"
                 class="tw-loading-animation"></div>
            <div class="ml-2">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</div>
          </div>
        </button>
      </div>

      <span class="text-hint-style">{{ 'LOGIN.PRIVACY_HINT' | translate }}</span>

      <span class="mt-2 text-hint-style text-base">{{ 'LOGIN.NO_ACCOUNT_HINT' | translate }}</span>
      <a class="text-link-style"
         routerLink="/register">{{ 'LOGIN.REGISTER_LINK_TEXT' | translate }}</a>
    </form>
  </div>
</div>
