:host {
  display: contents;
}

.small-form-field {
  margin-bottom: var(--dl-space-space-unit);
  width: 415px;
}

@media (max-width: 479px) {
    .small-form-field {
    width: 90vw !important;
  }
}
