<div class="flex items-center justify-center">

  <!--  TODO -->
  <img class="background-image"
       [attr.src]="config.REGISTER_BACKGROUND_IMAGE_SRC"
       [attr.alt]=""
  >

  <div
    class="flex justify-start flex-col items-center relative rounded-lg w-[450px] max-sm:w-11/12 h-auto px-4 bg-white dark:bg-gray-700">
    <login-register-image-component class="w-full mt-4 mb-8"></login-register-image-component>

    <form (ngSubmit)="register()" [formGroup]="signupForm" class="flex flex-col items-center w-full h-full mb-3">
      <div class="w-full mb-8">
        <label for="email"
               class="tw-input-label">{{ 'REGISTER.EMAIL' | translate }}</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faEnvelope"></fa-icon>
          </div>
          <input
            class="tw-input"
            id="email"
            [ngClass]="{'tw-input-error': isControlInvalid(this.signupForm, 'email')}"
            [placeholder]="'REGISTER.EMAIL_PLACEHOLDER' | translate"
            formControlName="email"
            autocomplete="email"
            type="email">
        </div>
        <div class="relative">
          <div
            [ngClass]="{
            'opacity-100 visible': isControlInvalid(signupForm, 'email'),
            'opacity-0 invisible': !isControlInvalid(signupForm, 'email')
          }"
            class="tw-input-error-label"
          >
            <div
              *ngIf="signupForm.get('email')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
            </div>
            <div
              *ngIf="signupForm.get('email')?.hasError('email') || signupForm.get('email')?.hasError('pattern')">{{ 'REGISTER.ERRORS.EMAIL_INVALID'| translate }}
            </div>
            <div
              *ngIf="signupForm.get('email')?.hasError('emailTaken')">{{ 'REGISTER.ERRORS.EMAIL_EXISTS'| translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-8">
        <label for="username"
               class="tw-input-label">{{ 'REGISTER.USERNAME' | translate }}</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faUser"></fa-icon>
          </div>
          <input
            class="tw-input"
            id="username"
            [ngClass]="{'tw-input-error': isControlInvalid(this.signupForm, 'username')}"
            [placeholder]="'REGISTER.USERNAME_PLACEHOLDER' | translate"
            formControlName="username"
            autocomplete="username"
            type="text">
        </div>
        <div class="relative">
          <div
            [ngClass]="{
            'opacity-100 visible': isControlInvalid(signupForm, 'username'),
            'opacity-0 invisible': !isControlInvalid(signupForm, 'username')
          }"
            class="tw-input-error-label"
          >
            <div
              *ngIf="signupForm.get('username')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
            </div>
            <div
              *ngIf="signupForm.get('username')?.hasError('pattern')">{{ 'REGISTER.ERRORS.INVALID_USERNAME_PATTERN'| translate }}
            </div>
            <div
              *ngIf="signupForm.get('username')?.hasError('maxlength')">{{ 'REGISTER.ERRORS.USERNAME_MAX_LENGTH'| translate: {maxLength: config.USERNAME_MAX_LENGTH} }}
            </div>
            <div
              *ngIf="signupForm.get('username')?.hasError('usernameTaken')">{{ 'REGISTER.ERRORS.USERNAME_TAKEN'| translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-8">
        <label for="password" class="tw-input-label">
          {{ 'REGISTER.PASSWORD' | translate }}
        </label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faLock"></fa-icon>
          </div>
          <input
            [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate"
            class="tw-input"
            id="password"
            [ngClass]="{'tw-input-error': isControlInvalid(this.signupForm, 'password')}"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            autocomplete="password"
          >

          <button
            type="button"
            (click)="togglePasswordVisibility($event)"
            class="absolute inset-y-0 end-0 flex items-center pe-3 text-gray-500 dark:text-gray-400">
            <fa-icon class="tw-icon text-gray-500" [icon]="hidePassword ? faEyeSlash : faEye"
                     [title]="'LOGIN.SHOW_PASSWORD_HINT'"></fa-icon>
          </button>
        </div>

        <div class="relative">
          <div
            [ngClass]="{
            'opacity-100 visible': isControlInvalid(signupForm, 'password'),
            'opacity-0 invisible': !isControlInvalid(signupForm, 'password')
          }"
            class="tw-input-error-label"
          >
            <div
              *ngIf="signupForm.get('password')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
            </div>
            <div
              *ngIf="signupForm.get('password')?.hasError('minlength')">{{ 'REGISTER.ERRORS.PASSWORD_MINLENGTH'| translate: {minLength: config.PASSWORD_MIN_LENGTH} }}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-10">
        <label for="password-confirm" class="tw-input-label">
          {{ 'REGISTER.CONFIRM_PASSWORD'| translate }}
        </label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <fa-icon class="tw-icon text-gray-500" [icon]="faLock"></fa-icon>
          </div>
          <input
            [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate"
            class="tw-input"
            id="password-confirm"
            [ngClass]="{'tw-input-error': isControlInvalid(this.signupForm, 'confirmPassword')}"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            autocomplete="new-password"
          >

          <button
            type="button"
            (click)="toggleConfirmPasswordVisibility($event)"
            class="absolute inset-y-0 end-0 flex items-center pe-3 text-gray-500 dark:text-gray-400">
            <fa-icon class="tw-icon text-gray-500" [icon]="hideConfirmPassword ? faEyeSlash : faEye"
                     [title]="'LOGIN.SHOW_PASSWORD_HINT'"></fa-icon>
          </button>
        </div>

        <div class="relative">
          <div
            [ngClass]="{
            'opacity-100 visible': isControlInvalid(signupForm, 'confirmPassword'),
            'opacity-0 invisible': !isControlInvalid(signupForm, 'confirmPassword')
          }"
            class="tw-input-error-label"
          >
            <div
              *ngIf="signupForm.get('confirmPassword')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
            </div>
            <div
              *ngIf="this.signupForm.errors?.['passwordsMismatch']">{{ 'REGISTER.ERRORS.PASSWORD_MISMATCH'| translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-2">
        <button
          [attr.title]="config.REGISTER_POSSIBLE ? '' : ('REGISTER.ERRORS.NO_REGISTRATION_POSSIBLE_HINT' | translate)"
          [disabled]="isLoading || !config.REGISTER_POSSIBLE" class="w-full btn-primary btn-blue"
          type="submit">
          <div class="flex items-center justify-center">
            <div *ngIf="isLoading"
                 class="tw-loading-animation"></div>
            <div class="ml-2">{{ 'REGISTER.REGISTER_BUTTON'| translate }}</div>
          </div>
        </button>
        <span class="text-hint-style">{{ 'REGISTER.REGISTER_HINT'| translate }}</span>
      </div>

    </form>
  </div>
</div>
