<div class="main-register-container">

  <img class="background-image"
       [attr.src]="config.REGISTER_BACKGROUND_IMAGE_SRC"
       [attr.alt]=""
  >

  <div class="register-container">
    <login-register-image-component class="register-image-container"></login-register-image-component>

    <form (ngSubmit)="register()" [formGroup]="signupForm" class="register-component-form">
      <p>
        <mat-form-field class="small small-form-field" appearance="outline">
          <mat-label class="input-label">{{ 'REGISTER.EMAIL'| translate }}</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            class="register-input"
            [placeholder]="'REGISTER.EMAIL_PLACEHOLDER' | translate"
            autocomplete="email"
          />
          <mat-error
            *ngIf="signupForm.get('email')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">{{ 'REGISTER.ERRORS.EMAIL_INVALID'| translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('email')?.hasError('emailTaken')">{{ 'REGISTER.ERRORS.EMAIL_EXISTS'| translate }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="small small-form-field" appearance="outline">
          <mat-label class="input-label">{{ 'REGISTER.USERNAME'| translate }}</mat-label>
          <input
            matInput
            type="text"
            autocomplete="username"
            formControlName="username"
            class="register-input"
            [placeholder]="'REGISTER.USERNAME_PLACEHOLDER' | translate"
          />
          <mat-error
            *ngIf="signupForm.get('username')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('username')?.hasError('pattern')">{{ 'REGISTER.ERRORS.INVALID_USERNAME_PATTERN'| translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('username')?.hasError('maxlength')">{{ 'REGISTER.ERRORS.USERNAME_MAX_LENGTH'| translate: {maxLength: config.USERNAME_MAX_LENGTH} }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('username')?.hasError('usernameTaken')">{{ 'REGISTER.ERRORS.USERNAME_TAKEN'| translate }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="small small-form-field" appearance="outline">
          <mat-label class="input-label">{{ 'REGISTER.PASSWORD'| translate }}</mat-label>
          <input
            matInput
            formControlName="password"
            autocomplete="new-password"
            [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate"
            [type]="hidePassword ? 'password' : 'text'"
            class="register-input"/>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="signupForm.get('password')?.hasError('required')">{{ 'REGISTER.ERRORS.REQUIRED_FIELD'| translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('password')?.hasError('minlength')">{{ 'REGISTER.ERRORS.PASSWORD_MINLENGTH'| translate: {minLength: config.PASSWORD_MIN_LENGTH} }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="small small-form-field" appearance="outline">
          <mat-label class="input-label">{{ 'REGISTER.CONFIRM_PASSWORD'| translate }}</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            autocomplete="new-password"
            [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate"
            [errorStateMatcher]="errorMatcher"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            class="register-input"/>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleConfirmPasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="signupForm.get('confirmPassword')?.hasError('required')">{{ 'REGISTER.ERRORS.CONFIRM_PASSWORD_REQUIRED'| translate }}
          </mat-error>
          <mat-error
            *ngIf="signupForm.hasError('passwordMismatch')">{{ 'REGISTER.ERRORS.PASSWORD_MISMATCH'| translate }}
          </mat-error>
        </mat-form-field>
      </p>

      <div class="confirm-button-container">
        <button
          class="confirm-button button-general"
          [disabled]="!config.REGISTER_POSSIBLE"
          [attr.title]="config.REGISTER_POSSIBLE ? '' : ('REGISTER.ERRORS.NO_REGISTRATION_POSSIBLE_HINT' | translate)"
          type="submit">
          {{ 'REGISTER.REGISTER_BUTTON'| translate }}
        </button>
      </div>
      <span class="hint-text-font">{{ 'REGISTER.REGISTER_HINT'| translate }}</span>
    </form>
  </div>
</div>
