<div class="text-center py-4">
  <!-- Page Info -->
  <span class="text-lg font-semibold text-gray-700 animate-fade-in">
    {{ 'GUESTBOOK.PAGE.PAGES' | translate: {currentPage: currentPage, totalPages: totalPages} }}
  </span>

  <!-- Pagination Buttons -->
  <div class="flex justify-center items-center mt-4 space-x-2">
    <!-- Previous Button -->
    <button
      (click)="previousPage()"
      class="px-3 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition ease-in-out duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-400"
    >
      {{ 'GUESTBOOK.PAGE.BUTTON_PREVIOUS' | translate }}
    </button>

    <!-- Page Numbers -->
    <ng-container *ngFor="let page of getPageNumbers()">
      <button
        (click)="page !== '...' ? changePage(page) : null"
        [disabled]="page === '...' || page === currentPage"
        class="px-3 py-2 text-gray-700 bg-gray-100 rounded-md shadow-md hover:bg-gray-200 transition ease-in-out duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-300"
        [ngClass]="{
          'bg-blue-600 text-white': page === currentPage,
          'cursor-not-allowed opacity-50': page === '...'
        }"
      >
        {{ page }}
      </button>
    </ng-container>

    <!-- Next Button -->
    <button
      (click)="nextPage()"
      class="px-3 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition ease-in-out duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-400"
    >
      {{ 'GUESTBOOK.PAGE.BUTTON_NEXT' | translate }}
    </button>
  </div>
</div>


<!--
<div class="main-component-container main-guestbook-page-container">
  <div class="guestbook-sub-container">
    <div class="page-container">
      <span>{{'GUESTBOOK.PAGE.PAGES' | translate: {currentPage: currentPage, totalPages: totalPages}  }}</span>
    </div>
    <div class="page-buttons">
      <button (click)="previousPage()">{{'GUESTBOOK.PAGE.BUTTON_PREVIOUS' | translate}}</button>
      <button *ngFor="let page of getPageNumbers()"
              (click)="page !== '...' ? changePage(page) : null"
              [disabled]="page === '...' || page === currentPage">
        {{ page }}
      </button>
      <button (click)="nextPage()">{{'GUESTBOOK.PAGE.BUTTON_NEXT' | translate}}</button>
    </div>
  </div>
</div>
-->
