<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
      <form (ngSubmit)="confirm()" [formGroup]="createEntryForm"
            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 w-full max-sm:w-[95%] sm:max-w-lg">
        <div class="bg-white dark:bg-dark-mode px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
              <h3 class="text-lg font-semibold leading-6 text-gray-900 dark:text-title-dark-mode-text"
                  id="modal-title">
                <span *ngIf="!isEditMode">{{ 'GUESTBOOK.CREATE.CREATE_ENTRY_TITLE' | translate }}</span>
                <span *ngIf="isEditMode">{{ 'GUESTBOOK.CREATE.UPDATE_ENTRY_TITLE' | translate }}</span>
                </h3>

              <div
                class="mt-4 flex flex-row max-sm:flex-col space-x-10 max-sm:space-x-0 justify-center max-sm:justify-start ">
                <div class="w-full max-sm:w-full">
                  <label for="title" class="tw-input-label">{{ 'GUESTBOOK.CREATE.TITLE_LABEL' | translate }}</label>
                  <input class="tw-input h-[40px] p-2"
                         id="title"
                         [ngClass]="{'tw-input-error': isControlInvalid(this.createEntryForm, 'title')}"
                         formControlName="title"
                         [placeholder]="'GUESTBOOK.CREATE.TITLE_PLACEHOLDER' | translate"
                         type="text">
                  <div class="relative">
                    <div
                      [ngClass]="{
                        'opacity-100 visible': isControlInvalid(createEntryForm, 'title'),
                        'opacity-0 invisible': !isControlInvalid(createEntryForm, 'title')
                      }"
                      class="tw-input-error-label"
                    >
                      <div *ngIf="createEntryForm.get('title')?.hasError('required')">
                        {{ "DIALOG.REQUIRED_FIELD" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--              TODO größerer gap-->
              <div
                class="mt-4 flex flex-row max-sm:flex-col space-x-10 max-sm:space-x-0 justify-center max-sm:justify-start ">
                <div class="w-full max-sm:w-full">
                  <label for="username"
                         class="tw-input-label">{{ 'GUESTBOOK.CREATE.USERNAME_LABEL' | translate }}</label>
                  <input class="tw-input h-[40px] p-2"
                         id="username"
                         [ngClass]="{'tw-input-error': isControlInvalid(this.createEntryForm, 'username')}"
                         formControlName="username"
                         [placeholder]="'GUESTBOOK.CREATE.USERNAME_PLACEHOLDER' | translate"
                         type="text">
                  <div class="relative">
                    <div
                      [ngClass]="{
                        'opacity-100 visible': isControlInvalid(createEntryForm, 'username'),
                        'opacity-0 invisible': !isControlInvalid(createEntryForm, 'username')
                      }"
                      class="tw-input-error-label">
                      <div *ngIf="createEntryForm.get('username')?.hasError('required')">
                        {{ "GUESTBOOK.CREATE.ERRORS.REQUIRED_FIELD" | translate }}
                      </div>
                      <div *ngIf="createEntryForm.get('username')?.hasError('maxlength')">
                        {{ "GUESTBOOK.CREATE.ERRORS.USERNAME_MAX_LENGTH" | translate: {maxLength: config.GUESTBOOK_USERNAME_MAX_LENGTH} }}
                      </div>
                      <div
                        *ngIf="createEntryForm.get('username')?.hasError('pattern')">
                        {{ 'REGISTER.ERRORS.INVALID_USERNAME_PATTERN'| translate }}
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!--              TODO REWORK EDITOR -->
              <div class=" mt-4">
                <label for="entry-text"
                       class="tw-input-label mb-0">{{ 'GUESTBOOK.CREATE.MESSAGE_LABEL' | translate }}</label>
                <quill-editor
                  class="w-full min-h-[50px] h-[150px] cursor-auto max-h-[300px]"
                  id="entry-text"
                  formControlName="entry_message"
                  [theme]="'snow'"
                  [placeholder]="'GUESTBOOK.CREATE.MESSAGE_PLACEHOLDER' | translate"
                  [modules]="quillModules"
                  [formats]="['header', 'bold', 'italic', 'underline', 'strike', 'blockquote', 'list', 'indent', 'link', 'image', 'align', 'emoji', 'script', 'code-block', 'color', 'background', 'font']">
                </quill-editor>
                <div class="relative">
                  <div
                    [ngClass]="{
                      'opacity-100 visible': isControlInvalid(createEntryForm, 'entry_message'),
                      'opacity-0 invisible': !isControlInvalid(createEntryForm, 'entry_message')
                    }"
                    class="tw-input-error-label">
                    <div *ngIf="createEntryForm.get('entry_message')?.hasError('required')">
                      {{ "DIALOG.REQUIRED_FIELD" | translate }}
                    </div>
                  </div>
                </div>

                <div *ngIf="!isEditMode" class="text-start mt-4">
                  <input
                    type="checkbox"
                    class="checkbox"
                    formControlName="confirmation_checkbox">

                  <span class="text-hint-style">
                        {{ "GUESTBOOK.CREATE.DATA_PRIVACY_CONFIRMATION" | translate }}
                    <span
                      class="text-red-600 transition-all duration-300"
                      [ngStyle]="{
                        opacity: isControlInvalid(createEntryForm, 'confirmation_checkbox') ? '1' : '0',
                        visibility: isControlInvalid(createEntryForm, 'confirmation_checkbox') ? 'visible' : 'hidden'
                      }">
                      {{ 'GUESTBOOK.CREATE.ERRORS.CHECKBOX_REQUIRED' | translate }}
                    </span>
                  </span>
                </div>

                <div *ngIf="isEditMode" class="text-start mt-4 border-1">
                  <input
                    type="checkbox"
                    class="checkbox"
                    formControlName="silent_edit">

                  <span class="text-info-style border-1">
                        {{ "GUESTBOOK.CREATE.SILENT_EDIT" | translate }}
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div
          class="tw-btn-popup-container">
          <button type="button"
                  (click)="cancel()"
                  class="btn-primary btn-gray">
            {{ 'BUTTONS.BUTTON_CANCEL' | translate }}
          </button>
          <button type="submit"
                  class="btn-primary btn-red">
            {{ 'BUTTONS.BUTTON_SAVE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
