<div class="flex items-center flex-row justify-between space-x-6 max-lg:space-x-4 ml-2">
  <div class="tw-navbar-dropdown-container">
    <button (click)="toggleLanguageDropdown()"
            class="navbar-button-container btn-primary">
      <img [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
    </button>

    <div *ngIf="dropdownLanguageOpen" class="-left-1/2 tw-dropdown-inner-layout w-16">
      <div *ngFor="let language of config.LANGUAGES" class="tw-dropdown-inner-action-layout space-x-2">
        <img (click)="selectLanguage($event)"
             class="w-5 h-5"
             [attr.data-lang-code]="language.code"
             [attr.src]="language.icon"
             alt=""/>
        <span>{{ language.code | uppercase}}</span>
      </div>
    </div>
  </div>


  <div class="tw-navbar-dropdown-container">
    <button (click)="toggleThemeDropdown()" class="navbar-button-container btn-primary">
      <img *ngIf="selectedTheme === 'light'" draggable="false" src="assets/icons/sun.svg" class="tw-icon w-20 h-20"
           alt=""/>
      <!--      <fa-icon *ngIf="selectedTheme === 'light'" [icon]="faSun" class="tw-icon text-2xl"></fa-icon>-->
      <fa-icon *ngIf="selectedTheme === 'dark'" [icon]="faMoon" class="tw-icon text-2xl "></fa-icon>
      <fa-icon *ngIf="selectedTheme === 'system'" [icon]="faDesktop"
               class="tw-icon text-2xl max-lg:text-base"></fa-icon>
    </button>

    <div *ngIf="dropdownThemeOpen" class="right-0 w-28 tw-dropdown-inner-layout">
      <a (click)="selectTheme('light')"
         class="tw-dropdown-inner-action-layout">
        <!--        <fa-icon [icon]="faSun" class="navbar-dropdown-icon"></fa-icon>-->
        <svg
          class="fill-gray-700 dark:fill-white navbar-dropdown-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <g>
            <g>
              <path d="m256,102.2c-84.8,0-153.8,69-153.8,153.8 0,84.8 69,153.8 153.8,153.8 84.8,0 153.8-69 153.8-153.8 0-84.8-69-153.8-153.8-153.8zm0,266.8c-62.3,0-113-50.7-113-113 0-62.3 50.7-113 113-113 62.3,0 113,50.7 113,113 0,62.3-50.7,113-113,113z"/>
              <path d="m59.8,235.6h-28.4c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h28.4c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/>
              <path d="m480.6,235.6h-28.4c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h28.4c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/>
              <path d="M256,80.2c11.3,0,20.4-9.1,20.4-20.4V31.4c0-11.3-9.1-20.4-20.4-20.4s-20.4,9.1-20.4,20.4v28.4    C235.6,71.1,244.7,80.2,256,80.2z"/>
              <path d="m256,431.8c-11.3,0-20.4,9.1-20.4,20.4v28.4c0,11.3 9.1,20.4 20.4,20.4s20.4-9.1 20.4-20.4v-28.4c0-11.3-9.1-20.4-20.4-20.4z"/>
              <path d="m102.8,131.7c8,8 20.9,8 28.8,0 8-8 8-20.9 0-28.8l-20.1-20.1c-8-8-20.9-8-28.8,0s-8,20.9 0,28.8l20.1,20.1z"/>
              <path d="m409.2,380.3c-8-8-20.9-8-28.8,0-8,8-8,20.9 0,28.8l20.1,20.1c8,8 20.9,8 28.8,0 8-8 8-20.9 0-28.8l-20.1-20.1z"/>
              <path d="m409.2,131.7l20.1-20.1c8-8 8-20.9 0-28.8-8-8-20.9-8-28.8,0l-20.1,20.1c-8,8-8,20.9 0,28.8 7.9,8 20.8,8 28.8-2.84217e-14z"/>
              <path d="m102.8,380.3l-20.1,20.1c-8,8-8,20.9 0,28.8 8,8 20.9,8 28.8,0l20.1-20.1c8-8 8-20.9 0-28.8-7.9-8-20.8-8-28.8,0z"/>
              <path d="m289.7,270.3c-36.9,21.6-65.3,2.2-66.9,1.1-9-6.6-21.7-4.7-28.4,4.3-6.7,9-4.9,21.8 4.1,28.5 1.4,1 23.5,17.1 56.2,17.1 16.3,0 35.2-4 55.5-15.9 9.7-5.7 13-18.2 7.3-27.9-5.6-9.6-18.1-12.9-27.8-7.2z"/>
              <circle cx="212" cy="211.1" r="20.5"/>
              <circle cx="300" cy="211.1" r="20.5"/>
            </g>
          </g>
        </svg>

<!--        <img draggable="false" [attr.src]="'assets/icons/sun.svg'" class="navbar-dropdown-icon" alt=""/>-->
        {{ 'NAVBAR.LIGHT_TITLE' | translate }}
      </a>
      <a (click)="selectTheme('dark')"
         class="tw-dropdown-inner-action-layout">
        <fa-icon [icon]="faMoon" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.DARK_TITLE' | translate }}
      </a>
      <a (click)="selectTheme('system')"
         class="tw-dropdown-inner-action-layout">
        <fa-icon [icon]="faDesktop" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.SYSTEM_TITLE' | translate }}
      </a>
    </div>
  </div>

  <div class="inline-block relative text-left rounded w-auto h-auto">
    <button *ngIf="getAuth().currentUser" (click)="handleAccountClick()"
            class="btn-primary navbar-button-container p-0">
      <img
        [attr.src]="'/assets/no-image.svg'"
        class="w-10 h-10 object-cover rounded-full"
        alt=""
      />
    </button>
    <div *ngIf="dropdownAccountOpen" class="-right-4 w-44 tw-dropdown-inner-layout">
      <a class="px-2 py-2 text-base text-gray-700 dark:text-title-dark-mode-text flex items-center cursor-default">
        <span>{{ 'NAVBAR.ACCOUNT_USERNAME_TITLE' | translate }} <span class="font-medium"> {{ username }}</span></span>
      </a>
      <div class="w-full bg-gray-200 dark:bg-dark-mode border-transparent rounded-full p-[0.03rem] m-0">
        <div class="w-full h-full"></div>
      </div>
      <a class="tw-dropdown-inner-action-layout" routerLink="/account">
        <fa-icon [icon]="faUser" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.ACCOUNT_EDIT_PROFILE_TITLE' | translate }}
      </a>
      <div class="w-full bg-gray-200 dark:bg-dark-mode border-transparent rounded-full p-[0.03rem] m-0">
        <div class="w-full h-full"></div>
      </div>
      <a (click)="logout()" class="tw-dropdown-inner-action-layout">
        <fa-icon [icon]="faSignOut" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.ACCOUNT_SIGN_OUT_TITLE' | translate }}
      </a>
    </div>
  </div>
</div>
