<div class="flex items-center flex-row justify-between space-x-6 max-lg:space-x-4 ml-2">
  <div class="tw-navbar-icon-container">
    <button (click)="toggleLanguageDropdown()"
            class="navbar-button-container">
      <img [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
    </button>

    <div *ngIf="dropdownLanguageOpen" class="right-0 tw-dropdown-inner-layout">
      <div *ngFor="let language of config.LANGUAGES">
        <img (click)="selectLanguage($event)"
             class="navbar-dropdown-icons w-10 h-10"
             [attr.data-lang-code]="language.code"
             [attr.src]="language.icon"
             alt=""/>
      </div>
    </div>
  </div>


  <div class="tw-navbar-icon-container">
    <button (click)="toggleThemeDropdown()" class="navbar-button-container">
      <img *ngIf="selectedTheme === 'light'" draggable="false" src="assets/icons/sun.svg" class="tw-icon w-20 h-20"
           alt=""/>
      <!--      <fa-icon *ngIf="selectedTheme === 'light'" [icon]="faSun" class="tw-icon text-2xl"></fa-icon>-->
      <fa-icon *ngIf="selectedTheme === 'dark'" [icon]="faMoon" class="tw-icon text-2xl "></fa-icon>
      <fa-icon *ngIf="selectedTheme === 'system'" [icon]="faDesktop"
               class="tw-icon text-2xl max-lg:text-base"></fa-icon>
    </button>

    <div *ngIf="dropdownThemeOpen" class="right-0 w-24 tw-dropdown-inner-layout">
      <a (click)="selectTheme('light')"
         class="navbar-dropdown-icons">
        <!--        <fa-icon [icon]="faSun" class="navbar-dropdown-icon"></fa-icon>-->
        <img draggable="false" src="assets/icons/sun.svg" class="navbar-dropdown-icon" alt=""/>
        {{ 'NAVBAR.LIGHT_TITLE' | translate }}
      </a>
      <a (click)="selectTheme('dark')"
         class="navbar-dropdown-icons">
        <fa-icon [icon]="faMoon" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.DARK_TITLE' | translate }}
      </a>
      <a (click)="selectTheme('system')"
         class="navbar-dropdown-icons">
        <fa-icon [icon]="faDesktop" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.SYSTEM_TITLE' | translate }}
      </a>
    </div>
  </div>

  <div class="inline-block relative text-left rounded w-auto h-auto ">
    <button *ngIf="getAuth().currentUser" (click)="handleAccountClick()"
            class="btn-primary border-transparent p-0 w-full h-full flex justify-center items-center">
      <img
        src="/assets/no-image.svg"
        class="w-11 h-11 object-cover rounded-full"
        alt=""
      />
    </button>
    <div *ngIf="dropdownAccountOpen" class="-right-4 w-40 tw-dropdown-inner-layout">
      <a class="px-2 py-2 text-sm text-gray-700 flex items-center cursor-default">
        <span>{{ 'NAVBAR.ACCOUNT_USERNAME_TITLE' | translate }} <span class="font-medium"> {{ username }}</span></span>
      </a>
      <div class="w-full dark:bg-dark-mode border-transparent rounded-full p-[0.04rem] bg-gray-200 m-0">
        <div class="w-full h-full"></div>
      </div>
      <a class="navbar-dropdown-icons" routerLink="/account">
        <fa-icon [icon]="faUser" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.ACCOUNT_EDIT_PROFILE_TITLE' | translate }}
      </a>
      <div class="w-full dark:bg-dark-mode border-transparent rounded-full p-[0.04rem] bg-gray-200 m-0">
        <div class="w-full h-full"></div>
      </div>
      <a (click)="logout()" class="navbar-dropdown-icons">
        <fa-icon [icon]="faSignOut" class="navbar-dropdown-icon"></fa-icon>
        {{ 'NAVBAR.ACCOUNT_SIGN_OUT_TITLE' | translate }}
      </a>
    </div>
  </div>
</div>

<!--TODO adjust icon sizes for mobile and browser-->
