<div class="flex items-center justify-center py-8">
  <div
    class="bg-gradient-to-br from-gray-200 to-white dark:bg-gradient-to-br dark:from-gray-600 dark:to-gray-800 p-8 rounded-xl shadow-lg w-[90%] max-w-3xl transition-all duration-300 transform hover:scale-102">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-gray-800 dark:text-title-dark-mode-text mb-2 tracking-wide animate-fadeInDown">
        {{ 'GUESTBOOK.TITLE' | translate }}
      </h1>
      <div>
        <span *ngIf="!(permissionService.hasPermission('view-invisible-guestbook-entries') | async)"
              class="text-xl text-gray-600 dark:text-dark-mode-text animate-fadeInUp">
          {{ 'GUESTBOOK.ENTRY_AMOUNT' | translate: {entries: visibleEntriesCount} }}
        </span>
        <span *ngIf="(permissionService.hasPermission('view-invisible-guestbook-entries') | async)"
              class="text-xl text-gray-600 dark:text-dark-mode-text animate-fadeInSlow">
          {{ 'GUESTBOOK.ENTRY_AMOUNT' | translate: {entries: visibleEntriesCount} }}
          <span
            class="text-gray-500">{{ 'GUESTBOOK.ENTRY_AMOUNT_HIDDEN' | translate: {entriesHidden: hiddenEntriesCount} }}</span>
        </span>
      </div>
    </div>

    <div class="flex justify-between items-center space-x-4 animate-fadeInUp">
      <a routerLink="create"
         class="btn-primary bg-blue-600 hover:bg-blue-700  p-3">
        {{ 'GUESTBOOK.CREATE_ENTRY_BUTTON' | translate }}
      </a>

      <a routerLink=""
         class="btn-primary bg-gray-500 hover:bg-gray-600  p-3">
        {{ 'GUESTBOOK.BACK_BUTTON' | translate }}
      </a>
    </div>
  </div>
</div>


<!--bg-gradient-to-br from-gray-100 to-blue-50 -->

