<div class="main-component-container main-guestbook-container">
  <div class="guestbook-container">
    <div class="guestbook-title-container">
<!--      TODO i18n-->
      <span id="guestbook-title">Gästebuch</span>
      <div class="guestbook-subtitle-container">
        <span *ngIf="!hasPermission()" id="guestbook-subtitle-1">Einträge: {{visibleEntriesCount}}</span>
        <span *ngIf="hasPermission()" id="guestbook-subtitle-1-admin">Einträge: {{visibleEntriesCount}} (versteckt: {{ hiddenEntriesCount }})</span>
        <span id="guestbook-subtitle-2">Besucher: %s</span>
      </div>
    </div>

    <div class="guestbook-links-container">
      <a id="guestbook-entry" routerLink="create"><< Eintragen</a>
      <a id="guestbook-homepage" routerLink="">Homepage >></a>
    </div>
<!--TODO mobile compatibility-->
  </div>
</div>
