:host {
  display: contents;
}

.login-main-container {
  justify-content: center;
  background-color: var(--dl-color-gray-900); /*TODO evaluieren, ob gray background oder image*/
}

.login-container {
  margin-top: 5%;
}
