<div class="main-component-container main-create-entry-container">
  <div class="guestbook-entry-container">
    <div class="guestbook-create-entry-title-container">
      <span id="guestbook-create-entry-title">Create Guestbook Entry</span>
    </div>
    <!--    Change to normal TODO with transition -->
    <form (ngSubmit)="createEntry()" [formGroup]="createEntryForm" class="guestbook-create-entry-form">
      <label for="username" class="input-label">Your Username</label>
      <input
        type="text"
        id="username"
        class="input-style"
        [ngClass]="{'input-error': isControlInvalid(this.createEntryForm, 'username')}"
        placeholder="Username*"
        formControlName="username"
      />

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'username') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'username') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('username')?.hasError('required')">
          This field is required!
        </div>
        <div *ngIf="createEntryForm.get('username')?.hasError('maxLength')">
          Max length!
        </div>
        <div *ngIf="createEntryForm.get('username')?.hasError('pattern')">
          Pattern!
        </div>
      </div>

<!--      TODO WHOLE TEXTEDITOR-->
      <label for="entry-text" class="input-label">Your Message</label>
      <textarea
        id="entry-text"
        class="textarea-style"
        [ngClass]="{'textarea-error': isControlInvalid(this.createEntryForm, 'entry_message')}"
        placeholder="Enter your message*"
        formControlName="entry_message">
      </textarea>

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'entry_message') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'entry_message') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('entry_message')?.hasError('required')">
          This field is required
        </div>
      </div>

      <div class="emojis-container">
        <span id="emojis-not-available">Emojis are currently not available</span>
      </div>

      <label for="captcha-text" class="input-label">Enter Captcha</label>
      <input
        id="captcha-text"
        class="input-style captcha-input"
        [ngClass]="{'textarea-error': isControlInvalid(this.createEntryForm, 'entry_message')}"
        placeholder="Captcha*"
        formControlName="entry_message">

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'entry_message') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'entry_message') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('entry_message')?.hasError('required')">
          This field is required
        </div>
      </div>




    </form>
    Entry works
  </div>
</div>
