<div class="main-component-container main-create-entry-container">
  <div class="guestbook-entry-container">
    <div class="guestbook-create-entry-title-container">
      <span id="guestbook-create-entry-title">{{ "GUESTBOOK.CREATE.CREATE_ENTRY_TITLE" | translate }}</span>
    </div>

    <form (ngSubmit)="createEntry()" [formGroup]="createEntryForm" class="guestbook-create-entry-form">
      <label for="username" class="input-label">{{ "GUESTBOOK.CREATE.USERNAME_LABEL" | translate }}</label>
      <input
        type="text"
        id="username"
        class="input-style"
        [ngClass]="{'input-error': isControlInvalid(this.createEntryForm, 'username')}"
        placeholder='{{"GUESTBOOK.CREATE.USERNAME_PLACEHOLDER" | translate}}'
        formControlName="username"
      />

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'username') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'username') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('username')?.hasError('required')">
          {{ "GUESTBOOK.CREATE.ERRORS.REQUIRED_FIELD" | translate }}
        </div>
        <div *ngIf="createEntryForm.get('username')?.hasError('maxlength')">
          {{ "GUESTBOOK.CREATE.ERRORS.USERNAME_MAX_LENGTH" | translate: {maxLength: config.GUESTBOOK_USERNAME_MAX_LENGTH} }}
        </div>
        <div
          *ngIf="createEntryForm.get('username')?.hasError('pattern')">
          {{ 'REGISTER.ERRORS.INVALID_USERNAME_PATTERN'| translate }}
        </div>
      </div>

      <!--      https://quilljs.com/docs/formats-->
      <!--      https://quilljs.com/docs/modules/toolbar-->
      <div class="editor-container">
        <label for="entry-text" class="input-label">{{ "GUESTBOOK.CREATE.MESSAGE_LABEL" | translate }}</label>
        <quill-editor
          class="quill-editor-style"
          id="entry-text"
          formControlName="entry_message"
          [theme]="'snow'"
          [placeholder]="'GUESTBOOK.CREATE.MESSAGE_PLACEHOLDER' | translate"
          [modules]="{
          toolbar: [
            [{ 'font': [] }],
            ['bold', 'italic', 'underline'],
            ['code-block'],
            [{ 'list': 'ordered'}],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            [{ 'color': [] }, { 'background': [] }],
            ['clean']
          ]
        }"
          [formats]=" [ 'header', 'bold', 'italic', 'underline', 'strike', 'blockquote', 'list', 'bullet', 'indent', 'link', 'image', 'align' ]">
        </quill-editor>
      </div>

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'entry_message') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'entry_message') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('entry_message')?.hasError('required')">
          {{ "GUESTBOOK.CREATE.ERRORS.REQUIRED_FIELD" | translate }}
        </div>
      </div>

      <div class="emojis-container">
        <span id="emojis-not-available">{{ "GUESTBOOK.CREATE.ERRORS.EMOJIS_NOT_AVAILABLE" | translate }}</span>
      </div>

      <label for="captcha-text" class="input-label">{{ "GUESTBOOK.CREATE.CAPTCHA_LABEL" | translate }}</label>
      <re-captcha
        required
        id="captcha-text"
        formControlName="recaptcha"
        siteKey="6LfvFicqAAAAABsPWbfE71zc7iXy-Ic-MfkWR4tb"
        (resolved)="onCaptchaResolved($event)">
      </re-captcha>

      <div
        class="input-error-message"
        [ngStyle]="{
        opacity: isControlInvalid(createEntryForm, 'recaptcha') ? '1' : '0',
        visibility: isControlInvalid(createEntryForm, 'recaptcha') ? 'visible' : 'hidden'
        }">
        <div *ngIf="createEntryForm.get('recaptcha')?.hasError('required')">
          {{ "GUESTBOOK.CREATE.ERRORS.REQUIRED_FIELD" | translate }}
        </div>
      </div>

      <!--      TODO CHECK -->
      <div class="privacy-confirmation">
        <input
          type="checkbox"
          class="checkbox-style"
          formControlName="confirmation_checkbox">
        <span id="privacy-confirmation-text"
              class="hint-text-font">{{ "GUESTBOOK.CREATE.DATA_PRIVACY_CONFIRMATION" | translate }}</span>
      </div>

      <div class="buttons-container">
        <button
          class="button-general
          guestbook-confirm-button"
          [ngClass]="{'button-green': config.GUESTBOOK_ENTRY_CREATION_POSSIBLE, 'button-disabled': !config.GUESTBOOK_ENTRY_CREATION_POSSIBLE}"
          [attr.title]="config.GUESTBOOK_ENTRY_CREATION_POSSIBLE ? '' : ('REGISTER.ERRORS.NO_REGISTRATION_POSSIBLE_HINT' | translate)"
          type="submit">
          {{ "GUESTBOOK.CREATE.BUTTON_SEND" | translate }}
        </button>
        <button class="button-general button-red guestbook-abort-button" type="button" (click)="abort($event)">
          {{ "GUESTBOOK.CREATE.BUTTON_ABORT" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
