<div class="main-component-container main-create-entry-container">
  <div class="guestbook-entry-container">
    <div class="guestbook-create-entry-title-container">
      <span id="guestbook-create-entry-title">Create guestbook entry</span>
    </div>
    <!--    Change to normal TODO with transition -->
    <form (ngSubmit)="createEntry()" [formGroup]="createEntryForm" class="guestbook-create-entry-form">
      <label for="username" class="input-label">Your username</label>
      <input
        type="text"
        id="username"
        class="input-style"
        [ngClass]="{'input-error': isControlInvalid(this.createEntryForm, 'username')}"
        placeholder="Username"
        formControlName="username"
      />

      <div
        class="error-message"
        [style.opacity]="isControlInvalid(this.createEntryForm,'username') && createEntryForm.get('username')?.hasError('required') ? '1' : '0'"
        [style.visibility]="isControlInvalid(this.createEntryForm, 'username') && createEntryForm.get('username')?.hasError('required') ? 'visible' : 'hidden'">
        This field is required!
      </div>


    </form>
    Entry works
  </div>
</div>
