:host {
  display: contents;
}


.main-create-entry-container {
  border: 1px solid red;
  height: auto;
}

.guestbook-entry-container {
  border: 1px solid green;
  flex: 0 0 auto;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: var(--dl-space-space-halfunit);
}

.guestbook-create-entry-title-container {
  border: 1px solid rebeccapurple;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: var(--dl-space-space-unit);
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  height: auto;
}

.guestbook-create-entry-form {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}

.small-form-field {
  margin-bottom: var(--dl-space-space-unit);
  /*width: 96vw;*/
}

.input-style {
  cursor: auto;
  color: var(--dl-color-black);
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: 3px;
  background-color: var(--dl-color-white);
  outline: none;
  box-sizing: border-box;
  /*-webkit-transition: 0.2s;*/
  /*transition: 0.2s;*/
  border-style: solid;
  transition: border-color 0.2s, margin 0.2s;

  width: 100%;
}

.input-style:focus {
  /*padding: calc(0.5rem - 1px) calc(1rem - 1px);*/
  margin: -1.2px; /*Due to bigger border*/
  border: 2px solid var(--blue-color);
}

.input-error {
  border-color: var(--error-color);
}

.input-error:focus {
  margin: -1.2px; /*Due to bigger border*/
  border: 2px solid var(--error-color)
}

.input-error::placeholder {
  color: var(--error-color);
  opacity: 1; /* Firefox */

}

.error-message {
  color: var(--error-color);
  margin-left: var(--dl-space-space-unit);
  font-size: 13px;
  margin-top: 4px;

  opacity: 0;
  transition: opacity 0.2s;
}

.input-label {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}

.input-style-error {
  color: var(--error-color)
}

.input-style:focus{
  /*border: 5px solid var(--dl-color-gray-900);*/
}


/*.textarea {*/
/*  color: var(--dl-color-gray-black);*/
/*  cursor: auto;*/
/*  padding: 0.5rem;*/
/*  border-color: var(--dl-color-gray-black);*/
/*  border-width: 1px;*/
/*  border-radius: 4px;*/
/*  background-color: var(--dl-color-gray-white);*/
/*}*/
