<div class="tw-component-container py-1 select-none">
  <div class="w-full text-right text-4xl font-medium">
    {{currentTime}}
  </div>
  <div class="tw-heading text-[50px] pt-0 mb-2">
    Katze gefüttert?
    <div class="text-hint-style text-[22px]">Hinweis: Klicke auf die Katze, wenn du sie fütterst!</div>
  </div>

  <div class="flex flex-row space-x-5">
    <div
      (click)="feedCat()"
      class="border-solid border border-[#1b1f2326] rounded-lg cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-200 w-[200px] h-[200px] flex items-center justify-center">
      <fa-icon *ngIf="!isError && !feedingDone" class="text-[150px]" [icon]="faCat"></fa-icon>
      <fa-icon *ngIf="feedingDone" class="text-[150px] text-[#63E6BE]" [icon]="faCheck"></fa-icon>
      <fa-icon *ngIf="isError" class="text-[150px] text-[#f23a5f]" [icon]="faXmark"></fa-icon>
    </div>
    <div class="flex flex-col">
      <span class="text-[30px]">Zuletzt gefüttert: <span class="font-semibold"> {{ lastFeedingSession }}</span></span>
      <span class="text-[30px]">Fütterungen heute: <span class="font-semibold"> {{ feedsToday }}x</span></span>
      <span class="text-[30px]">Fütterungen gestern: <span class="font-semibold"> {{ feedsYesterday }}x</span></span>

      <div *ngIf="this.feedingSessions.length > 0 && isLastFeedingSession" class="flex flex-row space-x-2 mt-2">
        <span class="text-[30px]">Letzte Fütterung löschen: </span>
        <fa-icon (click)="deleteLastFeedingSession()" *ngIf="!feedingDeleted" class="text-4xl" [icon]="faTrashCan"></fa-icon>
        <fa-icon *ngIf="feedingDeleted" class="text-4xl text-[#63E6BE]" [icon]="faCheck"></fa-icon>
      </div>
    </div>
  </div>
  <div *ngIf="false" class="w-full flex justify-end mt-5">
    <button class="btn-primary btn-gray">Statistiken</button>
  </div>
</div>
