<div class="tw-component-container">
  <div class="tw-heading">
    Katze gefüttert?
    <div class="text-hint-style">Hinweis: Klicke auf die Katze, wenn du sie fütterst!</div>
  </div>

  <div class="flex flex-row space-x-5">
    <div
      (click)="feedCat()"
      class="border-solid border  border-[#1b1f2326] rounded-lg cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-200">
      <fa-icon *ngIf="!isError && !feedingDone" class="text-9xl" [icon]="faCat"></fa-icon>
      <fa-icon *ngIf="feedingDone" class="text-9xl text-[#63E6BE]" [icon]="faCheck"></fa-icon>
      <fa-icon *ngIf="isError" class="text-9xl text-[#f23a5f]" [icon]="faXmark"></fa-icon>
    </div>
    <div class="flex flex-col">
      <span class="text-xl">Zuletzt gefüttert: <span class="font-semibold"> {{ lastFeedingSession }} </span></span>
      <span class="text-xl">Fütterungen an diesem Tag: <span class="font-semibold"> {{ feedsToday }}</span></span>
      <span class="text-xl">Fütterungen gestern: <span class="font-semibold"> {{ feedsYesterday }}</span></span>
    </div>
  </div>
  <div *ngIf="false" class="w-full flex justify-end mt-5">
    <button class="btn-primary btn-gray">Statistiken</button>
  </div>
</div>
