:host {
  display: contents;
}

.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navbar-general {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--dl-space-space-unit) var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.navbar-logo {
  height: 2rem;
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-link-style {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}

.navbar-link-style:hover {
  color: var(--blue-color-hover);
}

.navbar-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-button {
  color: var(--dl-color-black);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--dl-color-white);
}

.navbar-button:hover {
  background: whitesmoke;
}

.navbar-button-login {
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
}

.navbar-account-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}

/* Language Switch */
.language-switch-dropdown-main {
  position: relative;
  width: 100px;
  margin-right: var(--dl-space-space-unit);
}

.language-switch-dropdown-label {
  display: flex;
  align-items: center;
}

.language-switch-item-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.language-switch-item-name {
  display: inline;
}

/* Mobile */
.navbar-burger-menu {
  display: none;
}

.navbar-burger-icon-mobile {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-mobile-menu {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: var(--dl-space-space-unit) var(--dl-space-space-twounits) var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  user-select: none;
}

/* Show the menu when the 'is-active' class is added */
.navbar-mobile-menu.is-active {
  display: block;
}

.navbar-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-top-container {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}

.navbar-logo-mobile {
  height: 2rem;
}

.navbar-close-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-close-icon-mobile {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-links-mobile {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-link-style-mobile {
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}

.navbar-link-style-mobile:hover {
  color: var(--blue-color-hover);
}

.navbar-buttons-mobile {
  border: 1px solid green;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;

}

.navbar-buttons-mobile-container-1 {
  border: 1px solid red;
  display: flex;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}

.language-switch-dropdown-main-mobile {
  margin-bottom: var(--dl-space-space-unit);
}

/*

.navbar-buttons-mobile {
width: 100%;
display: flex;
margin-top: var(--dl-space-space-unit);
align-items: flex-end;
flex-direction: column;

}

.navbar-buttons-mobile-container-1 {
  border: 1px solid red;
  display: flex;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
}


*/

.navbar-buttons-mobile-container-2 {
  display: flex;
  flex-direction: row;
}

.navbar-account-image-mobile {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}

.navbar-button-login-mobile {
  margin-right: var(--dl-space-space-unit);
}

@media (max-width: 767px) {
  .navbar-logo {
   padding: 0;
  }

  .navbar-general {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .navbar-desktop-menu {
    display: none;
  }

  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }

  .navbar-general {
    padding: var(--dl-space-space-unit);
  }
}
