:host {
  display: contents;
}

.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navbar-general {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /*margin-bottom: var(--dl-space-space-twounits);*/
  padding: var(--dl-space-space-unit) var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.navbar-image {
  height: 2rem;
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-link-style {
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}

.navbar-link-style:hover {
  color: var(--blue-color-hover);
}

.navbar-buttons {
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.language-switch-dropdown-main {
  position: relative;
  width: 100px;
  margin-right: var(--dl-space-space-unit);
}

.language-switch-dropdown-label {
  display: flex;
  align-items: center;
}

.language-switch-item-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.language-switch-item-name {
  display: inline;
}

.button-navbar {
  color: var(--dl-color-black);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--dl-color-white);
}

.button-navbar:hover {
  background: whitesmoke;
}

.navbar-button-login {
  border-style: hidden;
  margin-right: var(--dl-space-space-unit);
}

.navbar-account-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}



.navbar-links-style-mobile {
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}

.navbar-links-style-mobile:hover {
  color: var(--blue-color-hover);
}

.navbar-general-mobile {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.navbar-select {
  margin-right: var(--dl-space-space-twounits);
}

.navbar-burger-menu {
  display: none;
}

.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.navbar-logo {
  height: 2rem;
}

.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navbar-links-mobile {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


.navbar-mobile-menu {
  display: none;
}

/* Show the menu when the 'is-active' class is added */
.navbar-mobile-menu.is-active {
  display: block;
}

@media (max-width: 767px) {
  .navbar-general {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .navbar-desktop-menu {
    display: none;
  }

  .language-switch-dropdown-main {
    margin-left: var(--dl-space-space-unit);
  }

  .navbar-buttons-mobile {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-button-login-mobile {
    margin-right: var(--dl-space-space-unit);
  }

  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }

  .navbar-general {
    padding: var(--dl-space-space-unit);
  }

  .navbar-general-mobile {
    padding: 16px;
  }
}
