:host {
  display: contents;
}

/* Language Switch */
.language-switch-dropdown-main {
  position: relative;
  width: 100px;
  margin-right: var(--dl-space-space-unit);
}

.language-switch-dropdown-label {
  display: flex;
  align-items: center;
}

.language-switch-item-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.language-switch-item-name {
  display: inline;
}

/* Mobile */
.navbar-mobile-menu {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: var(--dl-space-space-unit) var(--dl-space-space-twounits) var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  user-select: none;
}

/* Show the menu when the 'is-active' class is added */
.navbar-mobile-menu.is-active {
  display: block;
}

.language-account-container {
  display: flex;
  flex-direction: row;
}

.language-switch-dropdown-main-mobile {
  margin-bottom: var(--dl-space-space-unit);
  width: 80px;
}

/*Language Switch Mobile */
.language-switch-dropdown-main-mobile {
  position: relative;
  width: 80px;
}

.language-switch-dropdown-label-mobile {
  display: flex;
  align-items: center;
}

.language-switch-item-icon-mobile {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.language-switch-item-name-mobile {
  font-size: 14px;
  display: inline;
}

@media (max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
}
