<div class="main-component-container">
  <header class="navbar-general">
    <a routerLink="/">
      <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="logo" class="navbar-logo"/>
    </a>
    <div class="navbar-desktop-menu">
      <nav class="navbar-links">
        <a *ngIf="(permissionService.hasPermission('view-admin-dashboard') | async)" class="navbar-link-style"
           routerLink="/dashboard">Dashboard</a>

        <!--        General Links -->
        <a *ngFor="let link of generalLinks" class="navbar-link-style" [routerLink]="link.path">
          {{ link.label }}
        </a>

        <!--        Logged in link -->
        <!--        <a *ngIf="getAuth().currentUser" class="navbar-links-style" routerLink="/">BANGER</a>-->

        <a *ngIf="(permissionService.hasPermission('manage-users') | async)" class="navbar-link-style"
           routerLink="/">Manage Users</a>
      </nav>

      <div class="navbar-buttons">
        <div class="language-switch-dropdown-main">
          <ng-select [items]="config.LANGUAGES"
                     [searchable]="false"
                     [clearable]="false"
                     (change)="onLanguageChange($event)"
                     [(ngModel)]="translate.currentLang">
            <ng-template ng-label-tmp let-item="item">
              <div class="language-switch-dropdown-label">
                <img class=language-switch-item-icon
                     [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
                <span class="language-switch-item-name">{{ translate.currentLang | uppercase }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="language-switch-dropdown-label">
                <img class="language-switch-item-icon" [attr.src]="item.icon" alt=""/>
                <span class="language-switch-item-name">{{ item.code | uppercase }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div *ngIf="!getAuth().currentUser">
          <a
            class="navbar-button navbar-button-login"
            routerLink="/login"
          >
            {{ 'NAVBAR.LOGIN_BUTTON' | translate }}
          </a>
          <a
            class="navbar-button navbar-button-register"
            routerLink="/register"
          >
            {{ 'NAVBAR.REGISTER_BUTTON' | translate }}
          </a>
        </div>
        <!--        TODO implement account settings -->
        <a *ngIf="getAuth().currentUser" class="navbar-account" routerLink="/account">
          <img
            src="/assets/no-image.svg"
            class="navbar-account-image"
            alt=""/>
        </a>
      </div>
    </div>

    <!--    Mobile -->
    <div class="navbar-burger-menu" (click)="toggleMenu()">
      <svg class="navbar-burger-icon-mobile" viewBox="0 0 1024 1024">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>

    <div class="navbar-mobile-menu" [ngClass]="{'is-active': isMenuOpen}">
      <div class="navbar-container">
        <div class="navbar-top-container">
          <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="image" class="navbar-logo-mobile"/>
          <div class="navbar-close-container" (click)="closeMenu()">
            <svg class="navbar-close-icon-mobile" viewBox="0 0 1024 1024">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>

        <div class="language-switch-dropdown-main">
          <ng-select [items]="config.LANGUAGES"
                     [searchable]="false"
                     [clearable]="false"
                     (change)="onLanguageChange($event)"
                     [(ngModel)]="translate.currentLang">
            <ng-template ng-label-tmp let-item="item">
              <div class="language-switch-dropdown-label">
                <img class="language-switch-item-icon"
                     [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
                <span class="language-switch-item-name">{{ translate.currentLang | uppercase }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="language-switch-dropdown-label">
                <img class="language-switch-item-icon" [attr.src]="item.icon" alt=""/>
                <span class="language-switch-item-name">{{ item.code | uppercase }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <nav class="navbar-links-mobile">
          <a *ngIf="(permissionService.hasPermission('view-admin-dashboard') | async)" class="navbar-link-style-mobile"
             routerLink="/dashboard">Dashboard</a>

          <!--        General Links -->
          <a *ngFor="let link of generalLinks" class="navbar-link-style-mobile" [routerLink]="link.path">
            {{ link.label }}
          </a>

          <a *ngIf="(permissionService.hasPermission('manage-users') | async)" class="navbar-link-style-mobile"
             routerLink="/">Manage Users</a>
        </nav>

        <div class="navbar-buttons-mobile">
          <div *ngIf="getAuth().currentUser" class="navbar-buttons-mobile-container-1">
            <a class="navbar-account-mobile" routerLink="/account">
              <img
                src="/assets/no-image.svg"
                class="navbar-account-image-mobile"
                alt=""/>
            </a>
          </div>
          <div *ngIf="!getAuth().currentUser" class="navbar-buttons-mobile-container-2">
            <a
              class="navbar-button navbar-button-login-mobile"
              routerLink="/login"
            >
              {{ 'NAVBAR.LOGIN_BUTTON' | translate }}
            </a>
            <a
              class="navbar-button"
              routerLink="/register"
            >
              {{ 'NAVBAR.REGISTER_BUTTON' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
