<div class="tw-component-container p-0">
  <header class="navbar-general">
    <a routerLink="/">
      <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="logo" class="navbar-logo"/>
    </a>
    <div class="navbar-desktop-menu">

      <div class="relative inline-block text-left">
        <!-- Dropdown Toggle Button -->
        <button (click)="toggleDropdown()"
                class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-blue-600
                 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2
                 focus:ring-offset-gray-100 focus:ring-blue-500">
          Services
          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>

        <!-- Dropdown Menu -->
        <div *ngIf="dropdownOpen"
             class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1
              ring-black ring-opacity-5 focus:outline-none z-20">
          <ng-container *ngFor="let link of getNavLinks()">
            <a *ngIf="!link.permission || (permissionService.hasPermission(link.permission) | async)"
               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
               [routerLink]="link.path">
              {{ link.label }}
            </a>
          </ng-container>
        </div>
      </div>

      <nav class="navbar-links">
        <ng-container *ngFor="let link of getNavLinks()">
          <a *ngIf="!link.permission || (permissionService.hasPermission(link.permission) | async)"
             class="navbar-link-style" [routerLink]="link.path">
            {{ link.label }}
          </a>
        </ng-container>
      </nav>

      <div class="navbar-buttons">
        <div class="language-switch-dropdown-main">
          <ng-select [items]="config.LANGUAGES"
                     [searchable]="false"
                     [clearable]="false"
                     (change)="onLanguageChange($event)"
                     [(ngModel)]="translate.currentLang">
            <ng-template ng-label-tmp let-item="item">
              <div class="language-switch-dropdown-label">
                <img class=language-switch-item-icon
                     [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
                <span class="language-switch-item-name">{{ translate.currentLang | uppercase }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="language-switch-dropdown-label">
                <img class="language-switch-item-icon" [attr.src]="item.icon" alt=""/>
                <span class="language-switch-item-name">{{ item.code | uppercase }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div *ngIf="!getAuth().currentUser">
          <a
            class="navbar-button navbar-button-login"
            routerLink="/login"
          >
            {{ 'NAVBAR.LOGIN_BUTTON' | translate }}
          </a>
          <a
            class="navbar-button navbar-button-register"
            routerLink="/register"
          >
            {{ 'NAVBAR.REGISTER_BUTTON' | translate }}
          </a>
        </div>
        <!--        TODO implement account settings -->
        <a *ngIf="getAuth().currentUser" class="navbar-account" routerLink="/account">
          <img
            src="/assets/no-image.svg"
            class="navbar-account-image"
            alt=""/>
        </a>
      </div>
    </div>

    <!--    Mobile -->
    <div class="navbar-burger-menu" (click)="toggleMenu()">
      <svg class="navbar-burger-icon-mobile" viewBox="0 0 1024 1024">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>

    <div class="navbar-mobile-menu" [ngClass]="{'is-active': isMenuOpen}">
      <div class="navbar-container">
        <div class="navbar-top-container">
          <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="image" class="navbar-logo-mobile"/>
          <div class="navbar-close-container" (click)="closeMenu()">
            <svg class="navbar-close-icon-mobile" viewBox="0 0 1024 1024">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>

        <div class="language-account-container">
          <div class="language-switch-dropdown-main-mobile">
            <ng-select [items]="config.LANGUAGES"
                       [searchable]="false"
                       [clearable]="false"
                       (change)="onLanguageChange($event)"
                       [(ngModel)]="translate.currentLang">
              <ng-template ng-label-tmp let-item="item">
                <div class="language-switch-dropdown-label-mobile">
                  <img class="language-switch-item-icon-mobile"
                       [attr.src]="getAvatarByCode(translate.currentLang)" alt=""/>
                  <span class="language-switch-item-name-mobile">{{ translate.currentLang | uppercase }}</span>
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div class="language-switch-dropdown-label-mobile">
                  <img class="language-switch-item-icon-mobile" [attr.src]="item.icon" alt=""/>
                  <span class="language-switch-item-name-mobile">{{ item.code | uppercase }}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div *ngIf="getAuth().currentUser" class="account-mobile-container">
            <a class="navbar-account-mobile" routerLink="/account">
              <img
                src="/assets/no-image.svg"
                class="navbar-account-image-mobile"
                alt=""/>
            </a>
          </div>
        </div>

        <nav class="navbar-links-mobile">
          <ng-container *ngFor="let link of getNavLinks()">
            <a *ngIf="!link.permission || (permissionService.hasPermission(link.permission) | async)"
               class="navbar-link-style-mobile" [routerLink]="link.path">
              {{ link.label }}
            </a>
          </ng-container>
        </nav>

        <div *ngIf="!getAuth().currentUser" class="navbar-buttons-mobile">
          <a
            class="navbar-button navbar-button-login-mobile"
            routerLink="/login"
          >
            {{ 'NAVBAR.LOGIN_BUTTON' | translate }}
          </a>
          <a
            class="navbar-button"
            routerLink="/register"
          >
            {{ 'NAVBAR.REGISTER_BUTTON' | translate }}
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
