<div class="tw-component-container p-0">
  <!--  Browser-->
  <div class="w-full h-full flex items-center justify-between py-4 px-8 max-lg:px-8 max-sm:p-4">
    <a routerLink="/">
      <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="logo" class="h-8 pr-8 max-lg:p-0 decoration-0"/>
    </a>
    <div class="flex-1 flex justify-between max-lg:hidden">
      <nav class="flex-1 flex items-center flex-row justify-start">
        <navbar-links></navbar-links>
      </nav>
    </div>
    <div class="flex justify-end max-lg:w-full max-lg:justify-end mr-5">
      <navbar-buttons></navbar-buttons>
      <div *ngIf="!getAuth().currentUser" class="max-lg:hidden ml-5">
        <navbar-auth-buttons></navbar-auth-buttons>
      </div>
    </div>

    <!--    Mobile -->
    <div class="hidden max-lg:flex max-lg:items-center max-lg:justify-center w-10 h-10 select-none"
         (click)="toggleMenu()">
      <fa-icon [icon]="faBars" class="tw-icon text-2xl"></fa-icon>
    </div>

    <div
      class="hidden top-0 left-0 w-full h-auto z-20 py-4 px-8 max-lg:px-8 max-sm:p-4 absolute flex-col justify-between bg-white select-none"
      [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}">
      <div class="flex flex-start flex-col ">
        <div class="select-none w-full flex items-center mb-4 justify-between ">
          <img [attr.src]="config.NAVBAR_LOGO_SRC" alt="image" class="h-8"/>
          <div class="flex items-center justify-center" (click)="closeMenu()">
            <fa-icon [icon]="faXmark" class="tw-icon text-2xl"></fa-icon>
          </div>
        </div>

        <navbar-links></navbar-links>
        <navbar-auth-buttons></navbar-auth-buttons>
      </div>
    </div>
  </div>
</div>
