<p>test-component works!</p>

<mat-slide-toggle>Test</mat-slide-toggle>

<form (ngSubmit)="login(email.value, username.value, password.value)" class="main-container">
  <div class="login-container">
    <div class="login-container-items">
      <span class="login-text">Email</span>
      <input
        #email="ngModel"
        [attr.placeholder]="loginInputPlaceholderEmail"
        class="login-input"
        id="login-email-input"
        name="email"
        ngModel
        required="true"
        type="text"
      />
    </div>
    <div class="login-container-items">
      <span class="login-text">Username</span>
      <input
        #username="ngModel"
        [attr.placeholder]="loginInputPlaceholderUsername"
        class="login-input"
        id="login-username-input"
        name="username"
        ngModel
        required="true"
        type="text"
      />
    </div>
    <div class="login-container-items">
      <span class="login-text">Password</span>
      <input
        #password="ngModel"
        [attr.placeholder]="loginInputPlaceholderPassword"
        class="login-input"
        id="login-password-input"
        name="password"
        ngModel
        required="true"
        type="password"
      />
    </div>
  </div>
  <div class="confirm-button-container">
    <button class="confirm-button" type="submit">Register</button>
  </div>
</form>

<br><br>


<button (click)="testButton()">Click Me</button>
<br><br>
<span>Total Clicks: {{ counter }} </span>
