.login-container {
  width: 200px;
  height: fit-content;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.main-container {
  border: 1px solid green;
  display: flex;
  width: fit-content;
  /*height: 100%;*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-container-items {
  width: auto;
  height: fit-content;
  border: 1px solid red;
  margin: 10px;
}

.login-text {
  font-size: 13px;
  font-weight: 600;
}

.login-input {
  border-radius: 5px;
  border: 1px solid gray;
}

.confirm-button-container {
  margin: 5px;
  border: 1px solid rebeccapurple;

  width: 90%;
}

.confirm-button {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.7rem;
  transition: 0.3s;
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;

  color: white;
  font-size: 12px;
  background-color: #1f75cb;
}

.confirm-button:hover {
  background-color: #09529b;
}

.general {
  margin-left: 5px;
}
