<div class="tw-component-container">
  <div class="tw-subheading">
    Selected Projects
  </div>
  <div class="w-auto flex flex-col space-y-4">
    <div class="w-full flex justify-between flex-row max-md:flex-col max-md:items-center max-md:justify-center">
      <project-template></project-template>
      <project-template></project-template>
    </div>

    <div class="w-full flex justify-between flex-row max-md:flex-col max-md:items-center max-md:justify-center">
      <project-template></project-template>
      <project-template></project-template>
    </div>
    <div class="w-full flex justify-center">
      <button class="btn-primary btn-gray" type="button" [routerLink]="'/projects'">See all projects</button>
    </div>
  </div>
</div>
