@import "@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-1 {
  border: 1px solid red;
}

.border-1a {
  border: 2px solid green;
}

.subheading {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

@layer components {
  .tw-heading {
    @apply
    text-[40px]
    self-center
    text-center
    font-semibold
    mb-10
    animate-fadeInDown

    text-black
    dark:text-title-dark-mode-text
  }

  .tw-subheading {
    @apply
    text-3xl
    self-center
    text-center
    font-semibold
    mb-10
    animate-fadeInLeft

    text-black
    dark:text-title-dark-mode-text
  }

  .tw-description {
    @apply mb-8 italic text-gray-500 dark:text-dark-mode-text animate-fadeInRight
  }

  .tw-separation-line {
    @apply
    w-full
    bg-white
    dark:bg-dark-mode
    border-transparent
    rounded-full
    my-6
    p-0.25
    bg-gradient-to-r from-white via-gray-200 to-white
    dark:bg-gradient-to-r dark:from-dark-mode dark:via-gray-300 dark:to-dark-mode
  }

  .popup-text {
    @apply
    text-lg
    text-center
    text-black
    dark:text-dark-mode-text
  }

  /*TODO check */
  .popup-heading {
    @apply
    text-black
    text-2xl
    self-center
    font-semibold
    mb-6
    dark:text-title-dark-mode-text
  }

  .popup-container {
    @apply
    h-auto
    flex
    p-2
    relative
    items-center
    flex-col
    justify-start
    bg-white
    dark:bg-dark-mode
  }

  .tw-input, .tw-textarea {
    @apply
    bg-gray-50
    h-12
    border
    border-gray-300
    text-gray-900
    text-sm
    rounded-lg
    focus:ring-blue-500
    focus:border-blue-500
    block
    w-full
    ps-10
    p-2.5
    transition-all duration-100

    disabled:bg-gray-300
    disabled:cursor-not-allowed
    disabled:dark:disabled:bg-gray-800

    dark:bg-dark-mode-inside
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-dark-mode-text
    dark:focus:ring-blue-500
    dark:focus:border-blue-500
  }

  .tw-textarea {
    @apply
    ps-2
  }

  .tw-input-error, .tw-textarea-error {
    @apply
    focus-visible:ring-0 /*TODO better version*/
    border-red-500
    focus:border-2
    focus:border-solid
    focus:border-red-500
    placeholder:text-red-500
    placeholder:opacity-100

    dark:focus-visible:ring-0 /*TODO better version*/
    dark:border-red-500
    dark:focus:border-2
    dark:focus:border-solid
    dark:focus:border-red-500
    dark:placeholder:text-red-500
  }

  .tw-input-label {
    @apply
    block
    mb-1
    text-base
    font-medium
    text-gray-900
    dark:text-gray-200
  }

  .tw-input-error-label {
    @apply
    absolute
    left-0
    top-full
    ml-3
    mt-0.5
    text-red-500
    text-xs
    transition-opacity
    duration-300
  }

  .tw-component-container {
    @apply
    w-[95%]
    max-sm:w-full
    h-auto
    relative
    flex
    flex-col
      /*overflow-auto*/
    items-center
    justify-center
    p-6

    bg-white
    dark:bg-dark-mode
  }

  .tw-page-container {
    @apply
    w-full
    flex
    flex-col
    overflow-auto
    min-h-screen
    items-center
    justify-start

    bg-white
    dark:bg-dark-mode
  }

  .text-info-style {
    @apply
    text-black
    text-base
    text-justify
    font-normal
  }

  .text-link-style {
    @apply
    font-medium
    text-blue-500
    z-50
    transition-all duration-200
    hover:text-blue-600
  }

  .text-hint-style {
    @apply
    text-gray-500
    text-[15px]
    font-normal
    text-justify
    italic
    dark:text-gray-400
  }

  .checkbox {
    @apply
    w-5
    h-5
    mr-2
    text-blue-600
    bg-gray-100
    border-gray-300 rounded
    focus:ring-blue-500
    transition-all duration-200
    dark:focus:ring-blue-600
    dark:ring-offset-gray-800
    focus:ring-2
    dark:bg-gray-500
    dark:border-gray-600
  }

  .btn-primary {
    @apply
    appearance-none
    border-solid
    border border-[#1b1f2326]
    rounded-md
    box-border
    cursor-pointer
    inline-block
    text-sm
    text-white
    text-center
    font-medium
    leading-5
    py-2
    px-4
    relative
    select-none
    touch-manipulation
    align-middle
    whitespace-nowrap
    transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-200
    font-sans

    disabled:transition-none
    disabled:hover:translate-y-0
    disabled:hover:scale-100
    disabled:cursor-not-allowed
    disabled:bg-gray-500
  }

  .btn-blue {
    @apply
    bg-blue-500
    hover:bg-blue-600
    disabled:hover:bg-gray-500
    dark:text-title-dark-mode-text
    dark:bg-blue-700
    dark:hover:bg-blue-800
  }

  .btn-red {
    @apply
    bg-blue-500
    hover:bg-blue-600
    disabled:hover:bg-gray-500
    dark:text-white
  }

  .btn-gray {
    @apply
    border
    border-gray-500
    border-solid
    bg-white
    text-black
    hover:bg-gray-100
    disabled:hover:bg-gray-500
    dark:bg-black
    dark:hover:bg-gray-950
    dark:text-white
  }

  .btn-green {
    @apply
    bg-green-600
    dark:bg-green-700
    hover:bg-green-700
    dark:hover:bg-green-800
    disabled:hover:bg-gray-500
    dark:text-white
  }

  .btn-red {
    @apply
    bg-red-600
    hover:bg-red-700
    disabled:hover:bg-gray-500
    dark:text-white
  }

  .tw-select {
    @apply
    bg-gray-50
    border
    border-gray-300
    text-gray-900
    text-sm
    rounded-lg
    focus:ring-blue-500
    focus:border-blue-500
    block
    w-full
    p-2.5

    dark:bg-dark-mode-inside
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-dark-mode-text
    dark:focus:ring-blue-500
    dark:focus:border-blue-500
  }

  .tw-btn-popup-container {
    @apply
    bg-gray-50
    dark:bg-dark-mode
    px-4
    py-3
    flex
    flex-row
    justify-end
    max-sm:justify-center
    max-sm:space-x-14
    space-x-4
  }

  .tw-loading-animation {
    @apply h-4 w-4 border-t-transparent border-solid animate-spin rounded-full border-white border-4
  }
}

.ql-editor.ql-blank::before {
  @apply dark:text-dark-mode-text;
}

.ql-editor, .ql-toolbar {
  @apply
  border-gray-300
  dark:border-gray-600
  bg-white
  dark:bg-dark-mode-inside
  text-black
  dark:text-title-dark-mode-text
}

.ql-editor.ql-blank:focus::before {
  content: '';
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --dl-size-size-xxsmall: 16px;
  --dl-size-size-xsmall: 32px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-large: 144px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;

  --dl-space-space-halfunit: 8px;
  --dl-space-space-unit: 16px;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-space-space-twounits: 32px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-sixunits: 96px;
  --dl-radius-radius-round: 50%;


  --success-color: #198754;
  --hint-color: #dc505e;
  --error-color: #dc505e;
  --background-color: #f2f2f2;

  --text-hint-color: gray;
  --blue-color: #1f75cb;
  --blue-color-hover: #084f9e;

  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;

  --dl-color-black: #000000;
  --dl-color-white: #FFFFFF;
}

/*TODO */
.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);

  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  --mdc-snackbar-container-color: var(--error-color);
  --mdc-snackbar-supporting-text-color: white !important;

  .mat-mdc-button {
    color: white !important;
  }
}

.success-snackbar {
  --mdc-snackbar-container-color: var(--success-color);
  --mdc-snackbar-supporting-text-color: white !important;

  .mat-mdc-button {
    color: white !important;
  }
}


/*Changes asterisx*/
.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after, .input-label {
  /*font-size: 15px !important;*/
}
