<form (ngSubmit)="login(mail.value, username.value, password.value)" class="main-container">
  <div class="login-container">
    <div class="login-container-items">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          class="login-input"
          matInput
          placeholder="pat@example.com"
          [formControl]="mail"
          (blur)="updateErrorMessage()"
          required
        />
        @if (mail.invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="login-container-items">
      <span class="login-text">Username</span>
      <input
        #username="ngModel"
        [attr.placeholder]="loginInputPlaceholderUsername"
        class="login-input"
        name="username"
        ngModel
        required="true"
        type="text"
      />
    </div>
    <div class="login-container-items">
      <span class="login-text">Password</span>
      <input
        #password="ngModel"
        [attr.placeholder]="loginInputPlaceholderPassword"
        class="login-input"
        name="password"
        ngModel
        required="true"
        type="password"
      />
    </div>
  </div>
  <div class="confirm-button-container">
    <button class="confirm-button" type="submit">Register</button>
  </div>
</form>
