<form (ngSubmit)="login(mail.value, username.value, password.value)" class="main-container">
  <p>
<!--    standard, fill, outline, legacy-->
    <mat-form-field class="small small-form-field" appearance="outline">
<!--      Mit input-label und global css kann man size ändern-->
        <mat-label class="input-label">Enter your email</mat-label>
        <input
          class="login-input"
          matInput
          placeholder="pat@example.com"
          [formControl]="mail"
          (blur)="updateErrorMessage()"
          required
        />
        @if (mail.invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
  </p>
<!--    </div>-->

    <div class="login-container-items">
      <span class="login-text">Username</span>
      <input
        #username="ngModel"
        [attr.placeholder]="loginInputPlaceholderUsername"
        class="login-input"
        name="username"
        ngModel
        required="true"
        type="text"
      />
    </div>
    <div class="login-container-items">
      <span class="login-text">Password</span>
      <input
        #password="ngModel"
        [attr.placeholder]="loginInputPlaceholderPassword"
        class="login-input"
        name="password"
        ngModel
        required="true"
        type="password"
      />
    </div>
<!--  </div>-->
  <div class="confirm-button-container">
    <button class="confirm-button" type="submit">Register</button>
  </div>
</form>
